header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  padding: 0 25px 0 50px;
  margin-bottom: 50px;
}
header .header_logo {
  width: 200px;
  height: 50px;
}
header .header_logo img {
  width: 100%;
  height: 100%;
}
header nav {
  font-family: font-primary;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-right: 25px;
}
header nav ul li:hover a:after {
  width: 100%;
}
header nav ul li:hover a {
  color: #000;
}
header nav ul li a {
  text-decoration: none;
  color: rgba(63, 62, 62, 0.862745098);
  transition: all linear 0.3s;
  position: relative;
}
header nav ul li a:after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0;
  background: #000;
  bottom: 0;
  left: 0;
  transition: all linear 0.3s;
}

footer {
  margin-bottom: 20px;
}
footer ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin: 0 8px;
}
footer ul li a {
  text-decoration: none;
  font-family: font-seconday;
  color: #000;
  font-weight: 600;
}
footer ul li a:hover {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6901960784);
  align-items: flex-start;
  display: none;
  padding: 20px;
  width: 300px;
  height: 100vh;
  list-style: none;
}
.sidebar .xicon img {
  width: 30px;
}
.sidebar li {
  margin-right: 0;
  margin-bottom: 12px;
}
.sidebar li:hover a:after {
  width: 100%;
}
.sidebar li:hover a {
  color: #000;
}
.sidebar li a {
  text-decoration: none;
  color: #ffffff;
  transition: all linear 0.3s;
  position: relative;
  font-family: font-primary;
  font-size: 20px;
  letter-spacing: 3px;
}
.sidebar li a:after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0;
  background: #000;
  bottom: 0;
  left: 0;
  transition: all linear 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

@font-face {
  font-family: font-primary;
  src: url(../fonts/HanaleiFill-Regular.woff);
}
@font-face {
  font-family: font-seconday;
  src: url(../fonts/playfairdisplay-variablefont_wght-webfont.woff);
}
@font-face {
  font-family: font-third;
  src: url(../fonts/playfairdisplay-variablefont_wght-webfont.woff2);
}
.info {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: font-seconday;
  border-bottom: 2px solid #494646;
}
.info h1 {
  font-size: 2.5em;
  font-family: font-third;
  margin-bottom: 50px;
}
.info p {
  margin-bottom: 18px;
}

.foods {
  text-align: center;
  margin-bottom: 40px;
}
.foods h2 {
  margin-bottom: 30px;
  font-size: 1.7em;
}
.foods .foods_pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(400px, 600px) minmax(400px, 600px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.foods .foods_pics .food {
  position: relative;
  border-radius: 4px;
}
.foods .foods_pics .food .shade {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3647058824);
  border-radius: 4px;
  opacity: 0;
  transition: all ease 0.6s;
}
.foods .foods_pics .food .shade:hover {
  opacity: 1;
  cursor: pointer;
}
.foods .foods_pics .food .shade p {
  color: #fff;
  font-family: font-third;
  font-size: 20px;
  max-width: 250px;
}
.foods .foods_pics .food img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  border-radius: 4px;
}

.hamburger {
  display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding: 0;
    margin-bottom: 30px;
  }
  .foods .foods_pics {
    grid-template-rows: minmax(200px, 450px) minmax(200px, 450px);
    row-gap: 20px;
  }
  .info h1 {
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  header {
    padding: 0;
    margin-bottom: 30px;
  }
  header nav ul li {
    margin-right: 17px;
  }
  header .header_logo {
    width: 110px;
    height: 30px;
  }
  .info h1 {
    font-size: 2em;
  }
  .foods .foods_pics {
    grid-template-rows: minmax(150px, 400px) minmax(150px, 400px);
  }
}
@media (min-width: 480px) and (max-width: 575.9px) {
  header {
    padding: 0 15px;
    margin-bottom: 25px;
  }
  header .header_logo {
    width: 110px;
    height: 25px;
  }
  header .hamburger {
    display: block;
    width: 30px;
    height: 30px;
  }
  header nav {
    display: none;
  }
  header .sidebar {
    width: 50%;
  }
  .container {
    padding: 0 15px;
  }
  .info h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .foods .foods_pics {
    grid-template-rows: minmax(130px, 250px) minmax(130px, 250px);
  }
}
@media (min-width: 0) and (max-width: 479.9px) {
  header {
    padding: 0 15px;
    margin-bottom: 25px;
  }
  header .header_logo {
    width: 110px;
    height: 25px;
  }
  header .hamburger {
    display: block;
    width: 30px;
    height: 30px;
  }
  header nav {
    display: none;
  }
  .sidebar {
    width: 100%;
  }
  .container {
    padding: 0 10px;
  }
  .info h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .foods .foods_pics {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px);
  }
  footer ul li {
    margin: 0 4px;
  }
}